.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20232A; /* Un color más oscuro para un look más moderno */
    color: #61DAFB; /* Un color de acento más vivo, similar al de React */
    padding: 1rem;
  }
  
  img.logo {
    height: 70px;
    width: 70px;
    flex-shrink: 0;
  }
  
  .header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .header nav a {
    color: #61DAFB; /* Color de acento para enlaces */
    text-decoration: none;
    margin: 0 20px; /* Más espacio entre enlaces */
    font-size: 20px;
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
  }
  
  .header nav a:hover {
    color: #ffffff; /* Cambia de color al pasar el mouse */
  }
  